# Entornos virtuales
.venv/
env/
venv/
ENV/

# Archivos de compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales de MATLAB
TP2/MATLAB/slprj
TP2/MATLAB/Curvas/sim_results
TP2/MATLAB/Curvas/slprj

*.avi